---
layout: base.njk
---
<article>
  <header class="post-header">
    <span class="post-date">{{ date | readableDate }}</span>
    <h1>{{ title }}</h1>
  </header>

  {{ content | safe }}

  <hr>
  <p><a href="/writing/">&larr; Back to all writing</a></p>
</article>
